&lt;?php
/*
	This SQL query will create the table to store your object.

	CREATE TABLE `{{objectName}}` (
	`{{objectName}}id` int(11) NOT NULL auto_increment,
	<span ng-repeat="attr in attrs" ng-if="attr.name.trim() !== ''">`{{attr.name}}` {{attr.type}} NOT NULL,
	</span>PRIMARY KEY  (`{{objectName}}id`)) ENGINE=MyISAM;
*/

/**
* <b>{{objectName}}</b> class with integrated CRUD methods.
* @author Php Object Generator
* @version POG 4 / PHP5
* @copyright Free for personal & commercial use. (Offered under the BSD license)
* @link {{link}}
*/
include_once('class.pog_base.php');
class {{objectName}} extends POG_Base
{
	public ${{objectName}}Id = '';

	<span ng-repeat="attr in attrs" ng-if="attr.name.trim() !== ''">/**
	 * @var {{attr.type}}
	 */
	public ${{attr.name}};
	</span>

	public $pog_attribute_type = array(
		"{{objectName}}Id" => array('db_attributes' => array("NUMERIC", "INT"))<span ng-repeat="attr in attrs" ng-if="attr.name.trim() !== ''">,
		"{{attr.name}}" => array('db_attributes' => {{attr.type | mapping}})</span>
		);
	public $pog_query;

	/**
	* Getter for some private attributes
	* @return mixed $attribute
	*/
	public function __get($attribute)
	{
		if (isset($this->{"_".$attribute}))
		{
			return $this->{"_".$attribute};
		}
		else
		{
			return false;
		}
	}

	function {{objectName}}(<span ng-repeat="attr in attrs" ng-if="attr.name.trim() !== ''">${{attr.name}}=''<span ng-if="$index < attrs.length - 1">, </span></span>)
	{
		<span ng-repeat="attr in attrs" ng-if="attr.name.trim() !== ''">$this->{{attr.name}} = ${{attr.name}};
		</span>
	}

	/**
	* Gets object from database
	* @param integer ${{objectName}}Id
	* @return object ${{objectName}}
	*/
	function Get(${{objectName}}Id)
	{
		$connection = Database::Connect();
		$this->pog_query = "select * from `{{objectName}}` where `{{objectName}}id`='".intval(${{objectName}}Id)."' LIMIT 1";
		$cursor = Database::Reader($this->pog_query, $connection);
		while ($row = Database::Read($cursor))
		{
			$this->{{objectName}}Id = $row['{{objectName}}id'];
			<span ng-repeat="attr in attrs" ng-if="attr.name.trim() !== ''">$this->{{attr.name}} = $this->Unescape($row['{{attr.name}}']);
			</span>
		}
		return $this;
	}

	/**
	* Returns a sorted array of objects that match given conditions
	* @param multidimensional array {("field", "comparator", "value"), ("field", "comparator", "value"), ...}
	* @param string $sortBy
	* @param boolean $ascending
	* @param int limit
	* @return array ${{objectName}}List
	*/
	function GetList($fcv_array = array(), $sortBy='', $ascending=true, $limit='')
	{
		$connection = Database::Connect();
		$sqlLimit = ($limit != '' ? "LIMIT $limit" : '');
		$this->pog_query = "select * from `{{objectName}}` ";
		${{objectName}}List = Array();
		if (sizeof($fcv_array) > 0)
		{
			$this->pog_query .= " where ";
			for ($i=0, $c=sizeof($fcv_array); $i<$c; $i++)
			{
				if (sizeof($fcv_array[$i]) == 1)
				{
					$this->pog_query .= " ".$fcv_array[$i][0]." ";
					continue;
				}
				else
				{
					if ($i > 0 && sizeof($fcv_array[$i-1]) != 1)
					{
						$this->pog_query .= " AND ";
					}
					if (isset($this->pog_attribute_type[$fcv_array[$i][0]]['db_attributes']) && $this->pog_attribute_type[$fcv_array[$i][0]]['db_attributes'][0] != 'NUMERIC' && $this->pog_attribute_type[$fcv_array[$i][0]]['db_attributes'][0] != 'SET')
					{
						if ($GLOBALS['configuration']['db_encoding'] == 1)
						{
							$value = POG_Base::IsColumn($fcv_array[$i][2]) ? "BASE64_DECODE(".$fcv_array[$i][2].")" : "'".$fcv_array[$i][2]."'";
							$this->pog_query .= "BASE64_DECODE(`".$fcv_array[$i][0]."`) ".$fcv_array[$i][1]." ".$value;
						}
						else
						{
							$value =  POG_Base::IsColumn($fcv_array[$i][2]) ? $fcv_array[$i][2] : "'".$this->Escape($fcv_array[$i][2])."'";
							$this->pog_query .= "`".$fcv_array[$i][0]."` ".$fcv_array[$i][1]." ".$value;
						}
					}
					else
					{
						$value = POG_Base::IsColumn($fcv_array[$i][2]) ? $fcv_array[$i][2] : "'".$fcv_array[$i][2]."'";
						$this->pog_query .= "`".$fcv_array[$i][0]."` ".$fcv_array[$i][1]." ".$value;
					}
				}
			}
		}
		if ($sortBy != '')
		{
			if (isset($this->pog_attribute_type[$sortBy]['db_attributes']) && $this->pog_attribute_type[$sortBy]['db_attributes'][0] != 'NUMERIC' && $this->pog_attribute_type[$sortBy]['db_attributes'][0] != 'SET')
			{
				if ($GLOBALS['configuration']['db_encoding'] == 1)
				{
					$sortBy = "BASE64_DECODE($sortBy) ";
				}
				else
				{
					$sortBy = "$sortBy ";
				}
			}
			else
			{
				$sortBy = "$sortBy ";
			}
		}
		else
		{
			$sortBy = "{{objectName}}id";
		}
		$this->pog_query .= " order by ".$sortBy." ".($ascending ? "asc" : "desc")." $sqlLimit";
		$thisObjectName = get_class($this);
		$cursor = Database::Reader($this->pog_query, $connection);
		while ($row = Database::Read($cursor))
		{
			${{objectName}} = new $thisObjectName();
			${{objectName}}->{{objectName}}Id = $row['{{objectName}}id'];
			<span ng-repeat="attr in attrs" ng-if="attr.name.trim() !== ''">${{objectName}}->{{attr.name}} = $this->Unescape($row['{{attr.name}}']);
			</span>${{objectName}}List[] = ${{objectName}};
		}
		return ${{objectName}}List;
	}


	/**
	* Saves the object to the database
	* @return integer ${{objectName}}Id
	*/
	function Save()
	{
		$connection = Database::Connect();
		$rows = 0;
		if ($this->{{objectName}}Id!=''){
			$this->pog_query = "select `{{objectName}}id` from `{{objectName}}` where `{{objectName}}id`='".$this->{{objectName}}Id."' LIMIT 1";
			$rows = Database::Query($this->pog_query, $connection);
		}
		if ($rows > 0)
		{
			$this->pog_query = "update `{{objectName}}` set
			`letras`='".$this->Escape($this->letras)."',
			`num`='".$this->Escape($this->num)."' where `{{objectName}}id`='".$this->{{objectName}}Id."'";
		}
		else
		{
			$this->pog_query = "insert into `{{objectName}}` (<span ng-repeat="attr in attrs" ng-if="attr.name.trim() !== ''">`{{attr.name}}`<span ng-if="$index < attrs.length - 1">, </span></span>) values (
			<span ng-repeat="attr in attrs" ng-if="attr.name.trim() !== ''">'".$this->Escape($this->{{attr.name}})."'<span ng-if="$index < attrs.length - 1">, </span>
			</span>)";
		}
		$insertId = Database::InsertOrUpdate($this->pog_query, $connection);
		if ($this->{{objectName}}Id == "")
		{
			$this->{{objectName}}Id = $insertId;
		}
		return $this->{{objectName}}Id;
	}


	/**
	* Clones the object and saves it to the database
	* @return integer ${{objectName}}Id
	*/
	function SaveNew()
	{
		$this->{{objectName}}Id = '';
		return $this->Save();
	}

	/**
	* Deletes the object from the database
	* @return boolean
	*/
	function Delete()
	{
		$connection = Database::Connect();
		$this->pog_query = "delete from `{{objectName}}` where `{{objectName}}id`='".$this->{{objectName}}Id."'";
		return Database::NonQuery($this->pog_query, $connection);
	}

	/**
	* Deletes a list of objects that match given conditions
	* @param multidimensional array {("field", "comparator", "value"), ("field", "comparator", "value"), ...}
	* @param bool $deep
	* @return
	*/
	function DeleteList($fcv_array)
	{
		if (sizeof($fcv_array) > 0)
		{
			$connection = Database::Connect();
			$pog_query = "delete from `{{objectName}}` where ";
			for ($i=0, $c=sizeof($fcv_array); $i<$c; $i++)
			{
				if (sizeof($fcv_array[$i]) == 1)
				{
					$pog_query .= " ".$fcv_array[$i][0]." ";
					continue;
				}
				else
				{
					if ($i > 0 && sizeof($fcv_array[$i-1]) !== 1)
					{
						$pog_query .= " AND ";
					}
					if (isset($this->pog_attribute_type[$fcv_array[$i][0]]['db_attributes']) && $this->pog_attribute_type[$fcv_array[$i][0]]['db_attributes'][0] != 'NUMERIC' && $this->pog_attribute_type[$fcv_array[$i][0]]['db_attributes'][0] != 'SET')
					{
						$pog_query .= "`".$fcv_array[$i][0]."` ".$fcv_array[$i][1]." '".$this->Escape($fcv_array[$i][2])."'";
					}
					else
					{
						$pog_query .= "`".$fcv_array[$i][0]."` ".$fcv_array[$i][1]." '".$fcv_array[$i][2]."'";
					}
				}
			}
			return Database::NonQuery($pog_query, $connection);
		}
	}
}
